#mpris,
#tray,
#cpu,
#memory,
#backlight,
#pulseaudio,
#network,
#language,
#battery,
#power-profiles-daemon {
    background: #292c3c;
    color: #c0caf5;
    margin: 6px 4px;
    padding: 2px 8px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
}
#tray {
    padding: 0 12px;
}
#mpris:hover,
#pulseaudio:hover,
#network:hover {
    background: #3e5f8a;
}
#battery.charging {
    color: #a6e3a1;
}
#battery.warning:not(.charging) {
    color: #fab387;
}
#battery.critical:not(.charging) {
    background: #f38ba8;
    color: #1e1e2e;
}

/* Подложка под workspaces, как у модулей справа */
#workspaces {
    background: #292c3c;
    margin: 6px 4px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
    padding: 0 4px;
}
#workspaces button {
    padding: 0 8px;
    margin: 4px 2px;
    border: none;
    border-radius: 6px;
    background: transparent;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
    min-width: 15px;
    font-size: 14px;
    color: #c0caf5;
}
#workspaces button:hover {
    background: #e1a5a6;
    color: #1e1e2e;
    min-width: 25px;
}
#workspaces button.active {
    background: #3e5f8a;
    color: #ffffff;
    min-width: 35px;
    border-radius: 8px;
}
#workspaces button.occupied {
    color: #7aa2f7;
}
window#waybar {
    background: transparent;
    background-color: transparent;
    border: none;
    box-shadow: none;
}
